@import '../../stylesheets/mixins.scss';

$btn-border-radius: 0.3125em;

:root {
    --progress-bar-background-color: #ccc;
    --progress-bar-color: #00a4dc;
}

.dashboard {
    &Column {
        -webkit-box-direction: normal;
        -webkit-box-flex: 1;
        -webkit-box-orient: vertical;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
    }

    &Document {
        .dashboardEntryHeaderButton,
        .lnkManageServer {
            display: none !important;
        }
    }

    &Footer {
        margin-top: 3.5em;
        text-align: center;

        a {
            margin: 0 0.7em;
        }
    }

    &NowPlaying {
        &InnerContent {
            @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
            font-weight: 400;
        }

        &Content-withbackground + .sessionNowPlayingInnerContent {
            color: #fff !important;
            background: rgba(0, 0, 0, 0.7);
        }
    }

    &Section {
        flex-shrink: 0;
        margin: 0 0 2em;

        @media all and (min-width: 70em) {
            padding: 0 1.5em;
        }

        & h3 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    &Sections {
        display: flex;
        flex-direction: column;

        @media all and (min-width: 70em) {
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

progress {
    appearance: none;
    margin: 0;
    background: var(--progress-bar-background-color) !important;

    &[aria-valuenow]::before {
        border-radius: 0.4em;
        background-color: var(--progress-bar-color);
    }

    &[role]::after {
        background-image: none;
    }

    &::-moz-progress-bar {
        background-color: var(--progress-bar-color);
    }

    &::-webkit-progress-bar {
        background: var(--progress-bar-background-color);
    }

    &::-webkit-progress-value {
        background-color: var(--progress-bar-color);
    }
}

.localnav {
    margin-bottom: 2.2em !important;
}

.type-interior {
    @media all and (min-width: 50em) {
        > div[data-role="content"],
        > .ui-panel-content-wrap > div[data-role="content"] {
            padding-right: 0;
            padding-left: 0;
            padding-top: 0;
            overflow: hidden;
        }
    }
}

.adminDrawerLogo {
    display: none;

    .layout-mobile & {
        padding: 1.5em 1em 1.2em;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 1em;
        display: block;
    }

    img {
        height: 4em;
    }
}

a[data-role="button"] {
    -webkit-background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    background: #292929 !important;
    background-clip: padding-box;
    cursor: pointer !important;
    display: inline-block;
    font-family: inherit !important;
    font-weight: 500 !important;
    margin: 0 0.25em !important;
    padding: 0.8em 1em;
    text-align: center;
    text-decoration: none !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
    border-radius: 0;
    box-shadow: none !important;
    display: inline-block !important;
    margin: 0 !important;

    &:first-child {
        border-bottom-left-radius: $btn-border-radius;
        border-top-left-radius: $btn-border-radius;
    }

    &:last-child {
        border-bottom-right-radius: $btn-border-radius;
        border-top-right-radius: $btn-border-radius;
    }

    + a[data-role="button"] {
        border-left-width: 0 !important;
        margin: 0 0 0 -0.4em !important;
    }
}

div[data-role="controlgroup"] a.ui-btn-active {
    background: #00a4dc !important;
    color: #292929 !important;
}

.sessionAppInfo img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 8px;
}

.appLinks img {
    height: 36px;
}

.wizardContent h2 img {
    height: 2.5em;
    vertical-align: middle;
    margin-right: 0.5em;
    position: relative;
    top: -0.3em;
}

.header .imageLink {
    display: inline-block;

    img {
        height: 2.1em;
        vertical-align: middle;
    }
}

.content-primary {
    padding-top: 6em;
    padding-right: 1em;
    padding-left: 1em;

    @media all and (min-width: 40em) {
        padding-top: 4.6em;
    }

    .withTabs & {
        padding-top: 9em !important;

        @media all and (min-width: 40em) {
            padding-top: 10em !important;
        }

        @media all and (min-width: 84em) {
            padding-top: 7em !important;
        }
    }

    ul:first-child {
        margin-top: 0;
    }
}

.activeRecordingItems > .card {
    width: 50%;

    @media all and (min-width: 70em) {
        width: 25%;
    }
}

@media all and (min-width: 70em) {
    .dashboardColumn-2-60 {
        width: 46%;
    }

    .dashboardColumn-2-40 {
        width: 27%;
    }

    .dashboardSection {
        padding: 0 1.5em;
    }
}

.wizard {
    &Content {
        max-width: 62em;
        padding: 0.5em 2em 1em;
        margin: 0 auto;
        background: #fff;

        & form {
            max-width: 100%;
        }
    }

    &Navigation {
        text-align: right;
    }
}

.scheduledTaskPaperIconItem {
    outline: 0 !important;
}

.activeSession {
    width: 100% !important;

    @media all and (min-width: 40em) {
        width: 100% !important;
    }

    @media all and (min-width: 50em) {
        width: 50% !important;
    }
}

.activitylogUserPhoto {
    @include background-cover(center);

    height: 1.71em;
    width: 1.71em;
    border-radius: 100%;
    margin-right: 0.5em;
}

.sessionAppName {
    vertical-align: top;
    max-width: 200px;

    @media all and (max-width: 31.25em) {
        max-width: 150px;
    }

    @media all and (max-width: 34.375em) {
        max-width: 160px;
    }
}

.sessionAppInfo {
    padding: 0.5em;
    overflow: hidden;
}

.sessionCard {
    &Button {
        margin: 0;
    }

    &Buttons {
        min-height: 2.7em;
    }

    &Footer {
        padding-top: 0.5em !important;
        padding-bottom: 1em !important;
        border-top: 1px solid #eee;
        text-align: center;
        position: relative;
    }
}

.sessionNowPlaying {
    &Content {
        -webkit-background-size: cover;
        @include background-cover(center center);
        @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);

        .activeSession:not(.playingSession) & {
            display: none;
        }
    }

    &Details {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &Info {
        flex-grow: 1;
        text-overflow: ellipsis;
        padding: 0.8em 0.5em;
    }

    &Time {
        flex-shrink: 0;
        align-self: flex-end;
        text-overflow: ellipsis;
        padding: 0.8em 0.5em;
    }

    &StreamInfo {
        white-space: nowrap;
    }
}

.playbackProgress,
.transcodingProgress {
    margin: 0;
    width: 100%;
    background: transparent !important;

    .activeSession & {
        @include position(absolute, $right: 0, $bottom: 0, $left: 0);
        height: 6px;
        width: 100%;
    }
}

.playbackProgress > div {
    z-index: 1000;
    background-color: var(--progress-bar-color);
}

.transcodingProgress > div {
    background-color: #dd4919;
}

.disabledUser {
    filter: grayscale(100%);

    &Banner {
        margin: 0 0 2em;
    }
}

.appLinks a {
    text-decoration: none !important;

    + a {
        margin-left: 5px;
    }
}

@-webkit-keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotatingCircle {
    animation: rotating 2s linear infinite;
}

.pluginPreviewImg {
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.ui-bar-a {
    text-align: center;
    padding: 0 20px;
}
